<script setup lang="ts">
const routeName = useRouter().currentRoute.value;
</script>
<template>
  <Suspense>
    <PageContentView :key="routeName" />
    <template #fallback> Loading... </template>
  </Suspense>
</template>
