<script setup lang="ts">
import { vElementVisibility } from "@vueuse/components";

const { enabled } = withDefaults(defineProps<{ enabled: boolean }>(), {
  enabled: true,
});
let canApplyAnimation = useElementAnimationContext()?.canApplyAnimation;
let onElementVisibility = (isVisible: boolean) => {};
if (!canApplyAnimation) {
  canApplyAnimation = ref(false);
  onElementVisibility = (isVisible: boolean) => {
    if (isVisible) {
      canApplyAnimation!.value = true;
    }
  };
}
const { textRevealAnimationDelay } =
  useAnimationChoreography(canApplyAnimation);
</script>
<template>
  <slot v-if="!enabled" />
  <div v-else class="relative w-fit" v-element-visibility="onElementVisibility">
    <slot class="absolute top-0 left-0 h-full" />
    <!-- <div
      :data-text-reveal="canApplyAnimation"
      class="bg-black absolute top-0 left-0 text-transparent w-full h-full z-99"
    /> -->
  </div>
</template>
<style>
[data-text-reveal="true"] {
  animation: expanded 1s v-bind(textRevealAnimationDelay) linear both;
}

@keyframes expanded {
  from {
    transform-origin: top left;
    transform: scaleX(0);
  }

  25% {
    transform-origin: top left;
    transform: scaleX(1);
  }

  50% {
    transform-origin: top right;
    transform: scaleX(1);
  }

  to {
    transform-origin: top right;
    transform: scaleX(0);
  }
}
</style>
