<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  name: "BaseLink",
  inheritAttrs: false,
});
</script>
<script lang="ts" setup>
import type { RouterLinkProps } from "vue-router";

import {
  computed,
  unref,
  type AllowedComponentProps,
  type ComponentCustomProps,
  type VNodeProps,
} from "vue";

interface BaseLinkProps {
  text?: string;
}

interface RouterProps
  extends AllowedComponentProps,
    ComponentCustomProps,
    VNodeProps,
    RouterLinkProps,
    BaseLinkProps {}

const props = defineProps<RouterProps>();
const attrs = useAttrs();
const getBindValue = computed(() => ({ ...unref(attrs), ...props }));
const isExternal = computed(
  () =>
    typeof getBindValue.value.to === "string" &&
    (getBindValue.value.to.startsWith("http") ||
      getBindValue.value.to.startsWith("mailto"))
);
const aBindValue = computed(() => {
  let { to, class: _class, text } = getBindValue.value;
  if (typeof to !== "string") {
    to = "";
  }
  return { to, class: _class, text };
});
</script>
<template>
  <a
    v-if="isExternal"
    v-bind="aBindValue"
    :href="aBindValue.to"
    class="no-underline border-b-[1px] border-black border-opacity-30 hover:bg-green-200 transition-all"
  >
    {{ aBindValue.text }}
  </a>
  <router-link
    v-else
    v-bind="getBindValue"
    class="no-underline border-b-[1px] border-black border-opacity-30 hover:bg-green-200 transition-all"
  >
    <template v-if="text">{{ text }}</template>
  </router-link>
</template>
<style scoped></style>
