<template>
  <header class="my-8 text-center uppercase z-0 relative">
    <BaseBorder class="w-1/3 absolute top-1/3 left-0" direction="right" />
    <BaseBorder class="w-1/3 absolute top-1/3 right-0" />
    <BaseSlideFadeTransition
      class="m-auto bg-white max-w-fit px-10 font-bold sm:text-xl relative z-99"
    >
      <BaseLetterReveal :text="title" />
    </BaseSlideFadeTransition>
  </header>
</template>

<script setup lang="ts">
import BaseTextReveal from "./BaseTextReveal.vue";
defineProps({
  title: String,
});
</script>

<style scoped></style>
