<template>
  <BaseTextReveal :enabled="!isChild">
    {{ isChild ? "&nbsp;" : "" }}
    <p class="inline" v-if="text.text">{{ text.text }}</p>
    <BaseLink
      class="inline"
      v-else-if="text.link && text.linkText"
      :class="text.style"
      :text="text.linkText"
      :to="text.link"
    />
    <template v-if="text.children">
      <BaseRichText
        :is-child="true"
        v-for="item in text.children"
        :key="JSON.stringify(item)"
        :text="item"
      />
    </template>
  </BaseTextReveal>
</template>

<script setup lang="ts">
import type { RichTextSpan } from "./BaseRichText";
import BaseTextReveal from "./BaseTextReveal.vue";

defineProps<{ text: RichTextSpan; isChild?: boolean }>();
</script>

<style scoped></style>
