<script setup lang="ts">
import { vElementVisibility } from "@vueuse/components";

const { direction } = withDefaults(
  defineProps<{ direction: "left" | "right" }>(),
  {
    direction: "left",
  }
);
let canApplyAnimation = useElementAnimationContext()?.canApplyAnimation;
const { borderRevealAnimationDelay } =
  useAnimationChoreography(canApplyAnimation);
let onElementVisibility = (isVisible: boolean) => {};
if (!canApplyAnimation) {
  canApplyAnimation = ref(false);
  onElementVisibility = (isVisible: boolean) => {
    if (isVisible) {
      canApplyAnimation!.value = true;
    }
  };
}
</script>
<template>
  <div
    class="h-[2px] w-full bg-gray-300"
    :data-border-reveal="canApplyAnimation && direction"
    v-element-visibility="onElementVisibility"
  />
</template>

<style scoped>
[data-border-reveal="left"] {
  animation: leftExpand 0.8s v-bind(borderRevealAnimationDelay) linear both;
}

[data-border-reveal="right"] {
  animation: rightExpand 0.8s v-bind(borderRevealAnimationDelay) linear both;
}

@keyframes leftExpand {
  from {
    transform-origin: top left;
    transform: scaleX(0);
  }

  to {
    transform-origin: top left;
    transform: scaleX(1);
  }
}

@keyframes rightExpand {
  from {
    transform-origin: top right;
    transform: scaleX(0);
  }

  to {
    transform-origin: top right;
    transform: scaleX(1);
  }
}
</style>
