<script setup lang="ts">
const { headingsAnimationDuration } = useAnimationChoreography();

defineProps<{ headings: string[] }>();
</script>
<template>
  <header class="headings mb-8">
    <h1
      class="first-heading font-bold text-3xl md:text-4xl xl:text-5xl 2xl:text-7xl text-center"
      v-for="(heading, index) in headings"
      :class="{
        'first-heading': index === 0,
        'second-heading': index !== 0,
        'text-gray-500': index !== 0,
      }"
      :key="heading"
    >
      {{ heading }}
    </h1>
  </header>
</template>
<style scoped>
.headings {
  animation: headings v-bind(headingsAnimationDuration) both;
}

.headings > h1:first-child {
  animation: first-heading v-bind(headingsAnimationDuration) both;
}

.headings > h1:nth-child(2) {
  animation: second-heading v-bind(headingsAnimationDuration) both;
}

@keyframes first-heading {
  from {
    opacity: 0;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }

  50%,
  to {
    opacity: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@keyframes second-heading {
  from,
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes headings {
  from,
  50% {
    transform: translateY(50%) scale(1.2);
  }

  to {
  }
}

@media (min-width: 1200px) {
  @keyframes headings {
    from,
    50% {
      transform: translateY(50%) scale(1.5);
    }

    to {
    }
  }
}
</style>
