<script setup lang="ts">
import { vElementVisibility } from "@vueuse/components";
const { enabled } = withDefaults(defineProps<{ enabled: boolean }>(), {
  enabled: true,
});
const canApplyAnimation = ref(false);
const { shiftUpAnimationDelay } = useAnimationChoreography(canApplyAnimation);

const onElementVisibility = (isVisible: boolean) => {
  if (isVisible) {
    canApplyAnimation.value = true;
  }
};
const duration = convertNumberAsSecondsString(shiftUpAnimationDuration);
createElementAnimationContext({ canApplyAnimation });
</script>
<template>
  <component
    v-element-visibility="onElementVisibility"
    v-if="$slots.default"
    :data-shift-up="canApplyAnimation"
    :is="$slots.default()[0]"
  />
</template>
<style>
[data-shift-up="true"] {
  --shift-up-duration-delay: v-bind(shiftUpAnimationDelay);
  animation: shift-up v-bind(duration) var(--shift-up-duration-delay) backwards;
  transition: opacity 1s;
}

@keyframes shift-up {
  from {
    opacity: 0;
    transform: translateY(25%);
  }
  to {
    transform: none;
  }
}
</style>
