<script setup lang="ts">
import type { Article } from "./BaseArticle";
import BaseSlideFadeTransition from "./BaseSlideFadeTransition.vue";

const { index } = defineProps<{ article: Article; index?: number }>();
createIndexContext(index ?? 1);
</script>

<template>
  <BaseSlideFadeTransition
    :enabled="!(article && article.grid && article.grid.length)"
  >
    <article>
      <template v-if="article.title">
        <BaseTextReveal v-if="!article.section" class="mb-8">
          <h3 class="text-2xl sm:text-3xl">
            {{ article.title }}
          </h3>
        </BaseTextReveal>
        <BaseSectionHeader v-else-if="article.section" :title="article.title" />
      </template>

      <BaseRichText v-if="article.desc" v-bind="{ text: article.desc }" />
      <BaseRichText
        v-if="article.richTexts"
        v-bind="{ text: { children: article.richTexts } }"
      />
      <BaseHyphensList v-if="article.list" :items="article.list" class="mt-8">
        <template #item="{ item }">
          <BaseRichText v-bind="{ text: item }" />
        </template>
      </BaseHyphensList>

      <section class="flex flex-wrap justify-between" v-if="article.grid">
        <BaseArticle
          v-for="(_article, index) in article.grid"
          :key="JSON.stringify(_article)"
          class="my-8 md:w-[45%]"
          :class="{
            'md:!w-[100%]':
              article.grid.length % 2 !== 0 && index == article.grid.length - 1,
          }"
          :index="index + 1"
          :article="_article"
        />
      </section>
    </article>
  </BaseSlideFadeTransition>
</template>
