<script setup lang="ts">
import { vElementVisibility } from "@vueuse/components";

const { text } = defineProps<{ text: string }>();
let canApplyAnimation = useElementAnimationContext()?.canApplyAnimation;
let onElementVisibility = (_: boolean) => {};
if (!canApplyAnimation) {
  canApplyAnimation = ref(false);
  onElementVisibility = (isVisible: boolean) => {
    if (isVisible) {
      canApplyAnimation!.value = true;
    }
  };
}
const { textRevealAnimationDelay } =
  useAnimationChoreography(canApplyAnimation);
</script>
<template>
  <h3 class="flex flex-wrap" v-element-visibility="onElementVisibility">
    <div
      v-for="(character, index) in text"
      :key="`${character}${index}`"
      :style="{ '--i': index, '--count': text.length }"
      :data-letter-reveal="canApplyAnimation"
      class="font-bold"
    >
      <template v-if="character !== ' '">{{ character }}</template>
      <template v-else>&nbsp;</template>
    </div>
  </h3>
</template>
<style>
[data-letter-reveal="true"] {
  --duration: 1s;
  --stagger: calc(var(--duration) / var(--count));
  --interval: calc(var(--stagger) * var(--i));
  animation: reveal calc(var(--duration) - var(--interval))
    calc(v-bind(textRevealAnimationDelay) + var(--interval)) ease-in both;
}

@keyframes reveal {
  from {
    transform: translateY(200%) scaleY(3);
    opacity: 0;
  }

  to {
    transform: translateY(0%) scaleY(1);
    opacity: 1;
  }
}
</style>
