<template>
  <a
    class="page_button inline-block uppercase text-center py-3 px-6 rounded-sm"
    v-bind="getBindValue"
    :class="getButtonClass"
  >
    {{ text }}
  </a>
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  name: "BaseButton",
  inheritAttrs: false,
});
</script>
<script lang="ts" setup>
import { buttonProps } from "./BaseButtonLink";

const props = defineProps(buttonProps);
const attrs = useAttrs();

const getButtonClass = computed(() => {
  const { textColor, color, hoverColor, outlined } = props;
  return [
    {
      [`text-${textColor}`]: !!textColor,
      [`bg-${color}`]: !!color,
      [`hover:bg-${hoverColor}`]: !!hoverColor,
      "border-[1px]": !!outlined,
    },
  ];
});
const getBindValue = computed(() => ({ ...unref(attrs), ...props }));
</script>
<style>
.page_button:hover {
  background-image: url(../assets/background.png);
  background-position: 0% 50%;
  animation-name: movingRainbow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes movingRainbow {
  from {
    background-image: url(../assets/background.png);
    background-position: 0% 50%;
  }

  to {
    background-image: url(../assets/background.png);
    background-position: 100% 50%;
  }
}
</style>
