<template>
  <ul>
    <li
      class="before:content-['-'] before:relative before:float-left before:-left-1.5 before:-mr-0.5 mb-2 flex"
      v-for="(item, index) in _items"
      :key="index"
    >
      <slot name="item" :item="item" />
    </li>
  </ul>
</template>

<script setup lang="ts">
import type { PropType } from "vue";

const _items = ref<Array<any>>([]);
const props = defineProps({
  items: {
    type: [Array] as PropType<Array<any>>,
    default: [],
  },
} as const);

watchEffect(() => {
  _items.value.push(...props.items);
});

watch(
  () => props.items,
  () => {
    _items.value.splice(0, _items.value.length);
    _items.value.push(...props.items);
  }
);
</script>

<style scoped></style>
