<script setup lang="ts">
import { vElementVisibility } from "@vueuse/components";
const { t } = useI18n();
const skills = {
  Frontend: ["HTML/CSS/JS", "Vue 3", "Typescript", "Nuxt 3", "Tailwind CSS"],
  Mobile: [
    "Flutter",
    { linkText: "Riverpod", link: "https://riverpod.dev/fr/" },
    "Firebase",
    { linkText: "Freezed", link: "https://pub.dev/packages/freezed" },
    { linkText: "Auto Route", link: "https://pub.dev/packages/auto_route" },
  ],
  Backend: ["GraphQL", "Neo4j", "MongoDB", "Firebase"],
  Test: ["Jest"],
  "CI/CD": ["Docker", "Traefik", "Gitlab", "Firebase"],
};

const isFooterVisible = ref(false);
const onElementVisibility = (isVisible: boolean) => {
  if (isVisible) {
    isFooterVisible.value = true;
  }
};

createElementAnimationContext({ canApplyAnimation: isFooterVisible });
</script>
<template>
  <section
    class="flex flex-wrap justify-between"
    v-element-visibility="onElementVisibility"
  >
    <section class="w-full font-bold sm:w-1/12 uppercase">
      <BaseBorder class="mb-10" />
      <BaseTextReveal>
        <h4>
          {{ t("footer.skills") }}
        </h4>
      </BaseTextReveal>
    </section>

    <section class="w-full sm:w-10/12 flex flex-wrap">
      <BaseBorder class="invisible md:!visible" />
      <section
        class="w-full sm:w-1/2 md:w-1/4"
        v-for="skillCategory in Object.keys(skills)"
        :key="skillCategory"
      >
        <BaseTextReveal class="mb-4 mt-10 font-bold" :enabled="true">
          <h5>{{ skillCategory }}</h5>
        </BaseTextReveal>

        <BaseHyphensList :items="skills[skillCategory]">
          <template #item="{ item }">
            <BaseTextReveal>
              <BaseLink
                v-if="item.link && item.linkText"
                class="text-gray-500"
                :text="item.linkText"
                :to="item.link"
              />
              <p v-else class="text-gray-500">{{ item }}</p>
            </BaseTextReveal>
          </template>
        </BaseHyphensList>
      </section>
    </section>
  </section>
</template>
<style scoped></style>
