<script setup lang="ts">
import type { RichTextSpan } from "@/components/BaseRichText";
import ciCd from "../config/ciCd";
import home from "../config/home";
import mobile from "../config/mobile";
import website from "../config/website";
import BaseSlideFadeTransition from "./BaseSlideFadeTransition.vue";
import BaseBorder from "./BaseBorder.vue";
import BaseTextReveal from "./BaseTextReveal.vue";

type Article = {
  title?: string;
  desc?: RichTextSpan;
  section?: boolean;
  list?: RichTextSpan[];
  grid?: Article[];
};

type Figure = {
  title?: string;
  desc?: string;
  src: string;
  alt?: string;
};

type Content = {
  headings?: string[];
  desc?: string;
  caption?: string;
  figure?: Figure;
  children: Article[];
};

const { service = "home" } = useRoute().params;

const { t: $t } = useI18n();
const t = (...args: string[]) => $t(`${service}.${args.join(".")}`);

const translateProps = <T extends Record<string, any>>(obj: T): T => {
  const props = Object.entries(obj).reduce((acc, [key, value]) => {
    if (Array.isArray(value)) {
      if (key == "list") {
        acc[key] = value.map((v) => translateProps<Article>(v));
      } else if (key === "headings") {
        acc[key] = value.map((v) => t(v));
      } else {
        acc[key] = value.map((v) => translateProps<RichTextSpan>(v));
      }
    } else if (
      (key === "desc" || key == "figure") &&
      typeof value === "object"
    ) {
      acc[key] = translateProps<RichTextSpan>(value);
    } else if (["title", "desc", "caption", "linkText", "text"].includes(key)) {
      acc[key] = t(value);
    } else {
      acc[key] = value;
    }
    return acc;
  }, {} as Record<string, any>);
  return props as T;
};

const configs: Record<string, any> = { ciCd, home, mobile, website };
const config = configs[service as string];
const { headings, desc, caption, children, figure } =
  translateProps<Content>(config);

const networks = [
  {
    link: "https://www.linkedin.com/in/jessy-gotin-81560a102/",
    class: "text-[#0a66c2]",
    icon: ["fab", "linkedin"],
  },
  {
    link: "https://github.com/Dekhnar",
    icon: "fa-brands fa-github",
  },
  {
    link: "https://gitlab.com/users/ElRengo/projects",
    class: "text-[#fca326]",
    icon: ["fab", "gitlab"],
  },
];
</script>
<template>
  <section>
    <div class="w-10 h-10 test"></div>
    <BasePageHeader v-if="headings && headings.length" :headings="headings" />

    <BaseSlideFadeTransition class="!block text-center mb-16 text-xl">
      <BaseRichText v-if="desc" v-bind="{ text: desc }" />
    </BaseSlideFadeTransition>
    <BaseSlideFadeTransition>
      <figure v-if="figure" class="flex flex-col items-center mb-4">
        <figcaption class="text-center">
          <h3>{{ figure.title }}</h3>
          <p class="text-sm text-gray-400">
            {{ figure.desc }}
          </p>
        </figcaption>
        <img
          v-if="figure.title === t('youCanTryMyMobileApp')"
          src="../assets/download.png"
          :alt="figure.alt"
        />
      </figure>
    </BaseSlideFadeTransition>

    <article class="mb-4">
      <BaseBorder />
      <BaseSlideFadeTransition>
        <BaseTextReveal>
          <BaseRichText v-if="caption" class="my-8" :text="{ text: caption }" />
        </BaseTextReveal>
      </BaseSlideFadeTransition>
      <BaseArticle
        v-for="article in children"
        class="article"
        :key="JSON.stringify(article)"
        :article="article"
      />
    </article>
    <p class="flex flex-col mt-4 mb-12 items-center justify-between">
      <BaseButtonLink
        :text="$t('common.getInTouch')"
        textColor="gray-500"
        class="w-64 hover:text-white mb-4"
        :outlined="true"
        href="mailto:gsiwords@gmail.com"
      />
      <BaseButtonLink
        :text="$t('common.curriculumVitae')"
        textColor="white"
        class="w-64 mb-4"
        color="black"
        href="/CV_JessyGotin_2022.pdf"
        download
      />
      <BaseButtonLink
        :text="$t('common.seeThisWebsiteCode')"
        textColor="gray-500"
        class="w-64 hover:text-white"
        :outlined="true"
        href="https://gitlab.com/ElRengo/jessy-portfolio"
      />
    </p>

    <PageFooter class="mb-4" />
    <a
      v-for="network in networks"
      :key="network.link"
      :href="network.link"
      class="inline-block ml-2"
    >
      <font-awesome-icon
        class="fa-2xl"
        :class="network.class"
        :icon="network.icon"
      />
    </a>
  </section>
</template>
<style scoped>
.text-mask {
  animation: expand 0.8s linear both;
}

@keyframes expand {
  from {
    transform-origin: top left;
    transform: scaleX(0);
  }

  25% {
    transform-origin: top left;
    transform: scaleX(1);
  }

  50% {
    transform-origin: top right;
    transform: scaleX(1);
  }

  to {
    transform-origin: top right;
    transform: scaleX(0);
  }
}
</style>
