<script lang="ts" setup>
const { t } = useI18n();
const services = ["mobile", "website", "ciCd"];
const delay = convertNumberAsSecondsString(headingsAnimationDuration);
</script>
<template>
  <nav class="navbar">
    <ul class="navbar__menu flex justify-between">
      <li>
        <router-link class="navbar__link text-white" to="/">
          Jessy
        </router-link>
      </li>
      <ul class="navbar__menu flex justify-end">
        <li
          v-for="(service, index) in services"
          :key="service"
          :class="{ 'mr-6': index < services.length - 1 }"
        >
          <router-link
            ref="linkElement"
            class="navbar__link text-white"
            :to="`/${service}`"
          >
            {{ t(`navbar.${service}`) }}
          </router-link>
        </li>
      </ul>
    </ul>
  </nav>
</template>
<style scoped>
.navbar {
  animation: slide-down 0.3s ease;
  animation-fill-mode: both;
  animation-delay: calc(v-bind(delay) * 0.9);
}

.navbar__menu:hover .navbar__link {
  opacity: 0.5;
}

.navbar__link {
  transition: all 0.3s ease;
}

.navbar__link:hover {
  opacity: 1 !important;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-144%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
</style>
