<script lang="ts" setup>
const route = useRoute();
</script>

<template>
  <header class="bg-black p-4 fixed w-full top-0 overflow-hidden z-50">
    <TheNavBar />
  </header>
  <main class="max-w-6xl m-auto py-10 px-[4%] lg:px-[6%] 2xl:px-[3.5%] mt-14">
    <router-view :key="route.path" v-bind="$attrs" />
  </main>
</template>

<style scoped></style>
